---
layout: default
extra_js:
    - verbose-blog.js
---
<div class="post">

    <style>
        .invisible {
            display: none;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    {% for js_name in page.extra_js %}
        <script src="{{ site.baseurl }}/js/{{ js_name }}" type="text/javascript">
        </script>
    {% endfor %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

  </header>

  <article class="post-content">
    {% for component in page.verbose-components %}
        {% capture partial_location %}_posts/{{component}}{% endcapture %}
        {% capture include_contents%}{% include {{partial_location}} %}{% endcapture %}
        {{ include_contents | markdownify }}
    {% endfor %}
  </article>

</div>
